.app-wrapper {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 200px;
    padding: 20px;

    .button-group {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .btn {
            width: 100px;
            height: 50px;
        }
    }
}
