.app-wrapper {
    width: 100%;
    padding: 20px;

    .button-group {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 4px 0;

        .btn {
            height: 30px;
            line-height: 30px;
            color: #939292;
            font-size: 14px;
            cursor: pointer;
            border: 2px solid transparent;
        }

        .btn:hover {
            color: #fff;
            border-bottom: 2px solid rgb(20, 80, 144);
        }
    }
}
